@import './const.less';

.root-wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: @space-aside-width auto @team-link-width;
  grid-template-rows: @top-header-height @team-header-height auto;
  grid-auto-flow: column dense;

  .top-header {
    grid-column: 1/4;
    background-color: #colors[primary];
    display: grid;
    grid-template-columns: 20% 20% auto;
    place-items: center space-around;
    color: #FFF;
  }

  .team-header {
    grid-column: 2/4;
    border-bottom: 1px solid @block-border-color;
    background-color: @black-background-color;
  }

  .space-aside {
    grid-row: 2/4;
    border-right: 1px solid @block-border-color;
    background-color: @black-background-color;
  }

  .talk-main {
    border-right: 1px solid @block-border-color;
  }

  .team-aside {
    grid-row: 3/4;
    background-color: @black-background-color;
  }
}
